$mainBackground: #f2efef;
$pagePadding: 10px;

.container {
  width: 84%;
  margin-left: 8%;
  background-color: $mainBackground;
}

body {
  font-family: verdana;
}

header {
  background-color: #b4b4b4;
  padding: $pagePadding;
}

.logo {
  @extend .pageTitle;
  border: {
    style: solid;
    color: white;
  }
  color: white;
  width: 17px;
}

.pageTitle {
  display: inline-block;
}

.headernav {
  @extend .pageTitle;
}

.login {
  @extend .pageTitle;
  float: right;
}

ul {
  list-style: none;
  text-align: left;
  font-size: 12px;
  color: gray;
}

.lastLi {
  display: inline block;
}

.listlinks {
  font-size: 12px;
  color: gray;
}

footer {
  text-align: center;
  border: {
    top-style: solid;
    color: gray;
  }
  padding: $pagePadding;
}

nav {
  display: inline;
}
